.navbar { 
    height: 5rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    background-color: black;

}
.logo {
    margin-top: 15px;
    object-fit: cover;
    height: 4rem;
    width: 3rem;
    cursor: pointer;
}
.logo:hover {
    color:rgb(218, 92, 134);
    border-bottom: 1px solid rgb(255, 255, 255);

}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
}
.desktopMenuListItem:hover {
    color: rgb(218, 92, 134);
    padding-bottom: 0.25rem;
    border-bottom: 2px solid rgb(255, 255, 255);
}
.desktopMenuBtn {
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.desktopMenuBtn:hover { 
    color: rgb(247, 0, 82);

}

.desktopMenuImg {
    object-fit: cover;
    padding-right: .1rem;
    height: 1rem;
    width: 1rem;
    padding-top: .1rem;
}

