#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

}
.bg{
    position: absolute;
    top: 5rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 50vh;


}
.introContent {
    height: 75vh;
    width: 100vw;
    padding: 2rem;
    font-size: 4rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.hello {
    font-size: 1.5rem;
    font-weight: 100;
    color: rgb(218, 92, 134);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.introName{
    color: rgb(240, 229, 232);
    font-weight: 100;

}
.introText{
    color: rgb(144, 136, 138);
    font-weight: 100;
}
.introPara {
    color: rgb(133, 145, 176);
    padding: 5px;
    width: 400px; /* Adjust the width to your preference */
    margin: 0 -1; /* Center the box horizontally */
    font-size: medium;
    font-weight: 100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.btn{
    background: white;
    margin: 1rem 0;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .75rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.btnImg{
    object-fit: cover;
    padding-right: .1rem;
    height: 1.5rem;
    width: 1rem;
    padding-top: .1rem;

}

@media screen and (max-width: 840px) {
    .bg{
        right: -10vw;
    }
    .introContent{
        font-size: 10vw;
    }
    .hello{
        font-size: -4.5vw;
    }
    
}

